Source: hamonikr-conky
Section: utils
Priority: optional
Maintainer: HamoniKR <pkg@hamonikr.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: hamonikr-conky
Architecture: all
Depends: libc6 (>= 2.4), 
         libgdk-pixbuf2.0-0 (>= 2.22.0), 
         libgee-0.8-2 (>= 0.8.3), 
         libglib2.0-0 (>= 2.37.3), 
         libgtk-3-0 (>= 3.16.2), 
         libjson-glib-1.0-0 (>= 0.13.2), 
         conky, 
         conky-all,
         p7zip-full, 
         rsync, 
         imagemagick
Recommends: dmidecode, lm-sensors, hddtemp, nvidia-smi, ffmpeg, playerctl, jq
Replaces: conky-manager, conky-manager-extra, conky-toggle
Description: conky tool for HamoniKR
 다양한 Conky 테마를 선택할 수 있는 프로그램.
